header.topMenu{
    max-width: $screen-x-large;
    top: 0;

    z-index: 1;

    backdrop-filter: blur(25px);

    > .center-content{
        display: flex;
        align-items: center;
        gap: $spacing-normal;

        padding: $spacing-large $spacing-medium;
        
        > .iconeSpotify{
            width: $size-side-menu;
            padding:0 $spacing-smaller;

            > h6{
                display: flex;
                align-items: center;
                gap: $spacing-normal;

                font-size: $font-size-medium;
                letter-spacing: 1px;
                cursor: pointer;

            > i{
                display: flex;
                align-items: center;
                justify-content: center;

                $size: 36px;

                width: $size;
                height: $size;
                border-radius: $size;

                background-color: #ffff;
                color: black;
                font-size: 46px;
                border-color: $background-base-color;
                
                }
            }
        } > form{
            width: 100%;
            max-width: 480px;

            display: flex;
            align-items: center;


            position: relative;

            $icon-size: 24px;

            &:focus-within{
                > i {
                    color: $color-surface;
                }
            }
            
            > i{
                @include with-transition;
                transition-property: color;

                position: absolute;
                left: 16px;


                font-size: $icon-size;
                color: $color-muted;
            }
            > input{
                @include with-transition;
                transition-property: border-color;

                flex: 1;

                height: 44px;
                
                border-radius: $radii-normal;
                color: $color-surface;
                

                border: 2px solid transparent;

                background-color: rgba($color-surface, 0.05);

                padding-left: $spacing-normal + $icon-size + $spacing-normal;
                padding-right: $spacing-normal;
            

                &:focus-visible{
                    border-color: rgba($color-surface, 0.1);
                }

                &::placeholder{
                    color: $color-muted;
                }
            }
        }
        > nav{
            display: flex;
            align-items: center;
            gap: $spacing-normal;

            margin-left: auto;

            > a{
                @include with-common-interaction;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                $size: 44px;

                width: $size;
                height: $size;
                border-radius: $size;

            }
        }
    }
    
}